---
import Layout from "../layouts/Layout.astro";
import "../index.css";
import { css } from "../../styled-system/css";
---

<Layout>
  <div
    class={css({
      bg: "purpleDark",
      color: "lavenderLight",
      p: "2.5rem",
      borderRadius: "md",
      h: { base: "100%", md: "37.375rem" },
      display: "flex",
      flexDirection: "column",
      alignItems: "start",
    })}
  >
    <div
      class={css({
        mt: "2.5rem",
      })}
    >
      <h1
        class={css({
          fontSize: { base: "base.2xl", md: "base.display" },
          lineHeight: "display",
          letterSpacing: "tight",
          fontWeight: "medium",
        })}
      >
        I create <span
          class={css({
            fontWeight: "light",
            fontStyle: "italic",
            bgGradient: "secondary",
            bgClip: "text",
            color: "transparent",
            pr: "1rem",
            fontFamily: "Georgia, serif"
          })}>beautiful</span
        >
        <br /> experiences
      </h1>
    </div>
  </div>
</Layout>
