---
import Layout from "../layouts/Layout.astro";
import "../index.css";
import { css } from "../../styled-system/css";
import { Image } from "astro:assets";
import ScrollDownImage from '../assets/image.png'
---

<Layout>
  <div
    class={css({
      bg: "purpleDark",
      color: "lavenderLight",
      p: "2.5rem",
      borderBottomLeftRadius: "md",
      borderBottomRightRadius: "md",
      h: { base: "100%", md: "37.375rem" },
      display: "flex",
      flexDirection: "column",
      alignItems: "start",
    })}
  >
    <div
      class={css({
        mt: "2.5rem",
		display: "flex",
        gap: "0 1.5rem",
        flexDirection: "column",
      })}
    >
      <h1
        class={css({
          fontSize: { base: "base.2xl", md: "base.display" },
          lineHeight: "display",
          letterSpacing: "tight",
          fontWeight: "medium",
        })}
      >
        I create <span
          class={css({
            fontWeight: "light",
            fontStyle: "italic",
            bgGradient: "secondary",
            bgClip: "text",
            color: "transparent",
            pr: "1rem",
            fontFamily: "Georgia, serif"
          })}>beautiful</span
        >
        <br /> experiences
      </h1>
      <p
        class={css({
          fontSize: "base.subtitle",
          lineHeight: "base",
          mt: "1.5rem",

        })}
      >
        I work with people all over the world to create  <br /> tailor-made Webflow experiences
      </p>
    </div>

	<div class={css({
        mt: "auto",
		display:'flex',
		justifyContent:'space-between',
		alignItems:'end',
		width:'100%'
      })}
    >
     <p class={css({
		fontSize:'base.small',
		lineHeight:'snug',
		fontWeight:'medium'
	})}>Available for freelance work</p>

	 <Image 
		class={css({
			userSelect: "none",
		})}
		draggable={false}
        src={ScrollDownImage} 
        alt="Decorative image"
        width="106"
        height="106"
    />
    </div>
  </div>
</Layout>
