---
import { buttonRecipe } from "../recipes/button";
interface Props {
  variant?: 'primary' | 'secondary';
  size?: 'sm' | 'md';
  class?: string;
}

const { variant = 'primary', size = 'sm', class: className } = Astro.props;
---

<button class={`${buttonRecipe({ variant, size })} ${className}`}>
  <slot />
</button> 