---
import { buttonRecipe } from "../recipes/button";
interface Props {
  variant?: 'primary' | 'secondary';
  class?: string;
}

const { variant = 'primary', class: className } = Astro.props;
---

<button class={`${buttonRecipe({ variant })} ${className}`}>
  <slot />
</button> 