---
import Logo from "../assets/NavbarBrand.png";
import { Image } from "astro:assets";
import Button from "./Button.astro";
import { headerStyles } from "./styles";
---

<header
  class={headerStyles.wrapper}
>
  <div>
    <Image
      class={headerStyles.logo}
      src={Logo}
      alt="Stephanie Holmes logo"
    />
  </div>

  <ul
    class={headerStyles.nav}
  >
    <li>
      Linkedin

      <svg
        width="11"
        height="10"
        viewBox="0 0 11 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.5 1L1.5 9M9.5 1C9.5 1 8.38889 1.44444 6.16667 1.44444C3.94444 1.44444 2.83333 1 2.83333 1M9.5 1C9.5 1 9.05556 2.11111 9.05556 4.33333C9.05556 6.55556 9.5 7.66667 9.5 7.66667"
          stroke="#E9DEFF"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
      </svg>
    </li>
    <li>
      Twitter

      <svg
        width="11"
        height="10"
        viewBox="0 0 11 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.5 1L1.5 9M9.5 1C9.5 1 8.38889 1.44444 6.16667 1.44444C3.94444 1.44444 2.83333 1 2.83333 1M9.5 1C9.5 1 9.05556 2.11111 9.05556 4.33333C9.05556 6.55556 9.5 7.66667 9.5 7.66667"
          stroke="#E9DEFF"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
      </svg>
    </li>
    <li>
      Dribble

      <svg
        width="11"
        height="10"
        viewBox="0 0 11 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.5 1L1.5 9M9.5 1C9.5 1 8.38889 1.44444 6.16667 1.44444C3.94444 1.44444 2.83333 1 2.83333 1M9.5 1C9.5 1 9.05556 2.11111 9.05556 4.33333C9.05556 6.55556 9.5 7.66667 9.5 7.66667"
          stroke="#E9DEFF"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
      </svg>
    </li>
  </ul>

  <Button>Let’s talk  <svg
    width="11"
    height="10"
    viewBox="0 0 11 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.5 1L1.5 9M9.5 1C9.5 1 8.38889 1.44444 6.16667 1.44444C3.94444 1.44444 2.83333 1 2.83333 1M9.5 1C9.5 1 9.05556 2.11111 9.05556 4.33333C9.05556 6.55556 9.5 7.66667 9.5 7.66667"
      stroke="#E9DEFF"
      stroke-linecap="square"
      stroke-linejoin="round"></path>
  </svg></Button>
</header>
